h1 #vert {
    color: #64d1a3;
    font: size 40px;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: large;
}

h2 {
    color: #ffffff;
    font-size: xx-large;
}

.highlight {
    color: #64d1a3;
}

p {
    color: grey;
}

nav {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: x-small;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid grey;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
     }

.categories .portrait {
    background-color: #64d1a3; 
    border-color: #64d1a3;
    color: white;
     }

.image {
    text-align: center;
}